# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.idea
# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

/public
.DS_Store
/.idea/.gitignore
/.hugo_build.lock
/.idea/arigami28.github.io.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
